# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# VSCode settings
.vscode/

# Logs
*.log

# Build and dist files
build/
dist/
*.egg-info/
